body {
    .container {
        h1 {
            // styles for the heading
            text-align: center;
        }
        #weatherForm {
            // styles for the form
            text-align: center;
            label {
                // styles for the label
            }
            input[type="text"] {
                // styles for the input field
            }
            button[type="submit"] {
                // styles for the submit button
            }
        }
        #weatherData {
            // styles for the weather data container
            .card-content {
                // styles for the card content
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin-top: 5%;
                .forecast-card{
                    // styles for the forecast card
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: beige;
                    border: 1px solid black;
                    img{
                        background-color: black;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
